.card{
    position: relative;
    background-color: #fff;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 55vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.1); */
}
.tinderCards_cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}

.swipe{
    position: absolute;
}

.cardContainer{
    width: 100vh;
    height: 100vh;
}

.card h3{
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: #fff
}